<!doctype html>
<html lang="en" ng-app="gitDonkyApp" >
    <head>
        <meta charset="utf-8">
        <title>Donky's public repositories</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
        
        <link rel="stylesheet" href="style/style.css" />
        <script src="angular/angular.js"></script>
        <script src="angular/angular-resource.js"></script>
        <script src="angular/angular-cookies.js"></script>
        <script src="angular/angular-ui-router.js"></script>
        <script src="js/app.js"></script>
        <script src="js/reposList/reposList.js"></script>
        <script src="js/singleRepo/singleRepo.js"></script>
        <script src="js/directives/loadingDirective.js"></script>
        <script src="js/directives/errorDirective.js"></script>
    </head>
    <body ng-controller="gitDonkyAppController">
    <div class="container">    
        <div class="row bg-primary header">
            <div class="col-lg-12 ">
                <div class=""> 
                    <a ui-sref="repos"><img src="./images/logo.png" alt="Donky"></a>
                    <span>public repositories</span>
                    <div style="float:right;">
                        <form novalidate >
                            <input type="text" placeholder="Your OAuth github code" class="form-control" ng-model="oAuth">
                            <input type="button" class="btn btn-default" ng-click="saveOAuth()" value="Save in cookies" />
                            <input type="button" class="btn btn-default" ng-click="getOAuth()" value="Get from cookies" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
          <div ui-view ></div>
        </div>
    </div>
        
    <error-message message="message" error="error"></error-message>
    <div loading class="loading" data-loading ><img  src="./images/progresBar.gif"></div>
    </body>
</html>