.single-row{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px #eeeeee solid;
}

.avatar{
    height: 100px;
    width: 100px;
}

.loading{
    top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}