<div class="row single-row hidden-xs">
    <div class="col-sm-2">publish date</div>
    <div class="col-sm-1">tag</div>
    <div class="col-sm-2">name of release</div>
    <div class="col-sm-2">link to git</div>
    <div class="col-sm-offset-1 col-sm-3">
        author
    </div>
    <div class="col-sm-1"><span ng-click="getReleases()" class="refresh glyphicon glyphicon-refresh" aria-hidden="true"></span></div>

</div>
<div ng-hide="releasesData.length"  class="row">
    <div class="col-sm-12">No releases found</div>
</div>
<div class="row single-row" ng-repeat="release in releasesData ">
    <div class="col-sm-2">{{release.publishDate}}</div>
    <div class="col-sm-1"><span class="visible-xs">Tag: </span>{{release.tag}}</div>
    <div class="col-sm-2"><span class="visible-xs">Name: </span>{{release.name}}</div>
    <div class="col-sm-1"><a ng-href="{{release.link}}"> link </a></div>
    
    <div class="col-sm-offset-2 col-sm-4">
        <img class="avatar" ng-src="{{release.avatar}}">
        <span>{{release.authorName}}</span>
    </div>
</div>